body{
    font-family: 'Proza Libre', sans-serif;
    background-color: rgb(240, 228, 228);

}
a{
    text-decoration: none;
    color: white;
}
.container{

    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 150px;
}
.header-container{

background-color: rgb(56, 54, 54);
position: fixed;
width: 100%;



}
header
{

    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
}
.menu{

display: inline-block;
padding:  10px 20px;
border-style: solid;
border-width: 1px;
margin-left: 20px;
}
nav .menu a{
    text-decoration: none;
    color: white;
}
.col{

    width: 30%;
    background-color: rgb(95, 179, 11);
    margin-bottom: 40px;
}
.hide-desktop-only{

    display: none;
}
.col img{

    width: 100%;
    height: auto;
}
.col p::first-line{
    font-weight: 700;
}
.col p{
    color: white;
    font-size: .85rem;
    padding:20px;
    line-height: 1.25rem;
}
.highlight{

    font-weight: 700;
}

.mobile-wrapper{
    display: none;
}




/* Tablet view */
@media (max-width: 768px){

.col{
    width: 47%;
}
.hide-desktop-only{

    display: block;
}
header{

    display: flex;
    text-align: center;
}

nav .menu{

    display: none;

}

.mobile-wrapper{
    display: block;
    padding-right: 30px;
}
.logo{
   padding: 30px 0;
}
.container{
    padding-top: 40px;
}
.header-container{
    position: relative;
}
.mob-nav{
    display: none;
    position: absolute;

}
.navbutton{
    display: block;
    margin-left: -80px;
    background-color: tomato;
    padding: 15px 25px;
    text-align: center;
}


}



/* Mobile view */
@media (max-width: 400px){

.col{
    width: 100%;
}
.hide-mobile-only{

    display: none;
}



}
